<ion-header>
  <ion-toolbar>
    <ion-title>Eiko App</ion-title>
  </ion-toolbar>      
</ion-header>
   
<ion-content [forceOverscroll]="false">
  <ion-list>
    <ion-header>
        <ion-label>Selecciona Un Tema</ion-label>
    </ion-header>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Color Oscuro</ion-label>
      <ion-toggle [(ngModel)]="dark" slot="end" (ionChange)="darkTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="color-filter-outline"></ion-icon>
      <ion-label>Verde suave, deuteranopía</ion-label>
      <ion-toggle [(ngModel)]="first" slot="end" (ionChange)="firstTheme()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="color-palette-outline"></ion-icon>
      <ion-label>Rojo suave, protanopía</ion-label>
      <ion-toggle [(ngModel)]="second" slot="end" (ionChange)=secondTheme()></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="eye-outline"></ion-icon>
      <ion-label>Tritanopía</ion-label>
      <ion-toggle [(ngModel)]="third" slot="end" (ionChange)="thirdTheme()"></ion-toggle>
    </ion-item>
    
  </ion-list>
  <ion-footer>
    <ion-button shape="round" (click)="presentModal()">Siguiente</ion-button>
  </ion-footer>
</ion-content>