#container {
  text-align: center;

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8d;

  margin: 0;
}

#container a {
  text-decoration: none;
}

canvas {
  border: 1px solid rgb(187, 178, 178);
  padding-bottom: 20px;
}
 
.color-block {
  height: 50px;
  padding-bottom: 20px;
}

.flechas{
  text-align: center;
}